.container {
    width: 600px;
    margin: 0 auto;
}

.game-container {
    padding-top: 20px;
    padding-left: 20px;
    width: 600px;
    height: 600px;
    position: relative;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    background: #ccc;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid-row {
    margin-bottom: 20px;
}

.grid-row:last-child {
    margin-bottom: 0;
}
.grid-row:after {
    content: "";
    display: block;
    clear: both;
}

.grid-cell {
    float: left;
    width: 125px;
    height: 125px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: #aaa;
}

.grid-cell:last-child {
    margin-right: 0;
}
