<div id="container">
    <div class="header">
        <h3>拼图游戏</h3>
    </div>
    <div class="game-container">
        <div class="grid-row">
             <div class="grid-cell">1</div>
             <div class="grid-cell">1</div>
             <div class="grid-cell">1</div>
             <div class="grid-cell">1</div>
        </div>
        <div class="grid-row">
             <div class="grid-cell">1</div>
             <div class="grid-cell">1</div>
             <div class="grid-cell">1</div>
             <div class="grid-cell">1</div>
        </div>
        <div class="grid-row">
             <div class="grid-cell">1</div>
             <div class="grid-cell">1</div>
             <div class="grid-cell">1</div>
             <div class="grid-cell">1</div>
        </div>
        <div class="grid-row">
             <div class="grid-cell">1</div>
             <div class="grid-cell">1</div>
             <div class="grid-cell">1</div>
             <div class="grid-cell">1</div>
        </div>
    </div>

    <div class="footer">
        @author: beforeload
    </div>
</div>
